.daelers-partners-section {
    .daelers-partners-conteiner {
        .daelers-partners-content {
            .daelers-partners__block {
                position: relative;
                height: auto;

                .daelers-partners-img-sl {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .daelers-partners__block-conteiner {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 50%;
                    height: 100%;
                    backdrop-filter: blur(4px);
                    background: rgba(255, 255, 255, 0.8);

                    .daelers-partners-title {
                        margin: 70px 50px 176px 70px;

                        display: flex;
                        flex-direction: column;
                        justify-content: start;

                        .daelers-partners-reviews {
                            margin-bottom: 40px;
                        }

                        .partners-title {
                            z-index: 1;
                            font-family: var(--font-family);
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 118%;
                            color: var(--label-dark-black);

                            span {
                                color: var(--label-light-primary);
                            }
                        }

                        .partners-title2 {
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 95%;
                            color: var(--label-dark-black);
                            margin: 25px 0 25px 0;
                        }

                        .partners-title-svg1 {

                            position: absolute;
                            top: 42%;
                            left: 40px;

                        }
                    }

                }

                .daelers-partners-right {
                    position: absolute;
                    top: 25%;
                    left: 61%;
                }
            }
        }
    }
}

.dealers-become-section {
    background: #15222a;
    padding-bottom: 24px;

    .dealers-become-conteiner {
        .dealers-become-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 98px;

            .become-left {

                &__title {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 149%;
                    color: var(--label-light-primary);
                }

                &__desc {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 124%;
                    color: var(--label-light-primary);
                    margin: 16px 0 35px 0;
                }

                &__block {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 177px);
                    gap: 10px;
                }
            }

            .become-right {

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .become-right-form {
                    // margin-top: 2.125rem;
                    border-radius: 1.5625rem;
                    padding: 30px 33px;
                    width: 446px;
                    // width: 26.375rem;
                    // height: 17.6875rem;
                    background: var(--label-light-primary);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 9999;


                    // align-items: center;


                    .become__title-form {
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 120%;
                        color: var(--label-dark-black);
                    }

                    .become-name,
                    .become-tel,
                    .become-city,
                    .become-email {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 115%;
                        color: var(--label-dark-black);
                        margin-top: 30px;
                        // width: auto;

                    }

                    input {
                        margin-top: 15px;
                        background: transparent;
                        border: none;
                        border-bottom: .0625rem solid rgba(0, 0, 0, 0.4);

                        background-color: transparent;
                        color: inherit;
                        outline: none;

                        width: 100%;
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 115%;
                        color: var(--label-dark-black);
                    }

                    .become-button {
                        // margin-left: .625rem;
                        // border-radius: 6.25rem;
                        border-radius: 10px;
                        padding: 15px 151px;
                        // width: 20.625rem;
                        // height: 2.8125rem;
                        background: var(--color-fon-2);
                        border: none;
                        font-family: var(--third-family);
                        font-weight: 600;
                        font-size: 14px;
                        text-align: center;
                        color: var(--label-light-primary);
                        margin-top: 30px;
                    }
                }

                .become-right-title {
                    margin: 92px 33px 0 33px;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 124%;
                    color: var(--label-light-primary);

                }
            }
        }
    }
}

.dealers-question-section {
    background: #ededed;
    // padding: 100px 30px 100px 30px;
    // padding: 0 30px;

    .dealers-question-conteiner {

        .dealers-question-content {

            .dealers-question__right {
                width: 100%;
                border-radius: .94rem;

                background: linear-gradient(180deg, #9ba7b8 0%, #15222a 100%);

                display: grid;
                align-items: center;
                text-align: left;
                text-align-last: left;



                .dealers-question__right-container {
                    padding: 20px;
                    padding-right: 30px;

                    .dealers-question-h3 {
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 116%;
                        color: var(--label-light-primary);
                        margin-bottom: 20px;
                    }

                    .dealers-question-faq-item {

                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                        .toggle-icon {
                            font-size: 20px;
                        }

                        .dealers-question-faq-question {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 11fr 1fr;

                            justify-items: stretch;
                            justify-content: space-between;
                            background: none;
                            color: #fff;
                            padding: 10px 0;
                            border: none;
                            text-align: left;
                            cursor: pointer;
                            font-family: var(--font-family);
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 185%;
                            color: var(--label-light-primary);

                            .toggle-icon {
                                display: grid;
                                justify-items: end;
                                color: var(--label-light-primary);

                            }



                        }

                        .dealers-question-faq-answer {
                            display: none;
                            padding: 15px;

                            // background-color: #2f3d4b;
                            // color: #b0bcc8;
                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 17px;
                                color: rgba(255, 255, 255, 0.6);

                            }
                        }


                    }
                }

            }
        }
    }
}

.dealers-stages-section {
    .dealers-stages-conteiner {
        .dealers-stages-content {
            .dealers-stages-title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 116%;
                color: var(--label-dark-black);
                margin-bottom: 51px;
            }

            .dealers-stages-block {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
                gap: 30px;

            }

            .dealers-stages-block:last-child {
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                /* Бордюр справа */

            }
        }
    }
}

.dealers-partners-section {
    .dealers-partners-conteiner {
        .dealers-partners-content {
            .dealers-partners-title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 116%;
                color: var(--label-dark-black);
                margin-bottom: 30px;
            }

            .dealers-partners-block {
                display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
                grid-template-columns: 1fr 55%;
                column-gap: 30px;

                .dealers-partners-block-left {
                    border: 1px solid #ededed;
                    border-radius: 15px;
                    padding: 30px;

                    .partners-region-header {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 27px;

                        .partners-title {

                            font-family: var(--second-family);
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 154%;
                            color: var(--label-dark-black);
                        }

                        .partners-form {

                            .partners-select {
                                border: none;
                                font-family: var(--second-family);
                                font-weight: 500;
                                font-size: 17px;
                                line-height: 120%;
                                color: var(--label-dark-black);

                                .partners-option {}
                            }
                        }


                    }

                    .partners-block-button {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .partners-region-button {
                            width: 100%;
                            display: flex;
                            text-align: center;
                            align-items: center;
                            justify-content: space-between;
                            background: #ededed;
                            border-radius: 10px;
                            padding: 17px 14px 16px 16px;
                            font-family: var(--second-family);
                            font-weight: 700;
                            font-size: 17px;

                            color: var(--label-dark-black);
                        }

                        .active {
                            background: #06828e;
                            color: var(--label-light-primary);

                            .partners-path {



                                stroke: var(--label-light-primary);

                            }


                        }
                    }

                }

                .dealers-partners-block-right {
                    border-radius: 15px;
                    background: var(--label-dark-black);
                    padding: 30px 27px 30px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    display: none;


                    .partners-title {
                        display: grid;
                        grid-template-rows: repeat(2, 1fr);
                        grid-template-columns: repeat(4, 1fr);
                        column-gap: 27px;

                        .partners-right-title {
                            grid-column: 1/span 3;
                            font-family: var(--font-family);
                            font-weight: 600;
                            font-size: 27px;
                            line-height: 135%;
                            color: var(--label-light-primary);

                        }

                        .partners-right-subtitle {
                            grid-column: 1/span 3;

                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 130%;
                            color: var(--label-light-primary);
                        }

                        .partners-right-img {
                            grid-column: 4/span 2;
                            grid-row: 1/span 2;
                        }

                    }

                    .partners-link {
                        margin-top: 110px;

                        .partners-list {
                            display: flex;
                            // justify-content: center;
                            align-items: center;
                            margin-top: 20px;

                            li {
                                font-family: var(--font-family);
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 130%;
                                color: var(--label-light-primary);
                            }

                            .partners-link {
                                margin-left: 30px;
                            }
                        }
                    }
                }

                .active {
                    display: block;
                }
            }
        }
    }
}

.dealers-case-section {
    .dealers-case-conteiner {
        .dealers-case-content {
            .dealers-case-title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 149%;
                color: var(--label-dark-black);
                margin-bottom: 30px;
            }

            .dealers-case-down {
                position: relative;
                // display: grid;
                // grid-template-columns: repeat(2,1fr);
                // grid-template-rows: 1fr;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                // height: 400px;
                // width: 1140px;
                // z-index: 999;

                .case-swiper-container {
                width: 1140px;

                    // width: 100%;
                    // height: 500px;
                    // background-color: red;
                      overflow: hidden;
                    //   display: grid;
                    //   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                    //   grid-template-rows: auto;
                    //   gap: 20px;
                    // margin: 40px 0 40px 0;

                    .case-slider {
                        // width: 1200px;
                        // width: 453px;
                        // height: 350px;
                        padding: 30px 30px 30px 30px;


                        .case-slide {
                            // width: 90%;
                            // height: 277px;
                            // text-align-last: left;
                            border-radius: 15px;
                            padding: 25px 20px 25px 25px;
                            height: 100%;
                            width: 100%;
                            box-shadow: 2px 2px 19px 0 rgba(55, 55, 55, 0.15);
                            // background: #fff;
                            background: #fff;
                            // display: grid;
                            // grid-template-rows: 30px 1fr 1fr;
                            // display: flex;
                            // flex-direction: column;

                            .case-title {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                text-align: center;
                                justify-content: space-between;

                                .case-name {
                                    font-family: var(--font-family);
                                    font-weight: 500;
                                    font-size: 18px;
                                    color: #000;
                                }

                                .case-date {
                                    font-family: var(--font-family);
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #adadad;
                                    opacity: 0.8;
                                }
                            }

                            .case-text {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 14px;
                                color: #000;
                                padding: 21px 0 31px 0;
                                text-align: left;
                                // width: 500px;

                            }

                            .case-img {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                // gap: 15px;
                                // display: grid;
                                // grid-template-columns: repeat(4, 1fr);
                                // justify-content: space-around;

                                .case-img-item {
                                    border-radius: 5px;
                                    width: 115px;
                                    height: 75px;
                                    // width: 100%;
                                    // height: auto;
                                }

                                .case-img-item:nth-child(4) {
                                    filter: blur(2px);
                                    position: relative;
                                }

                                .case-img-item:nth-child(4)::before {
                                    content: '+2';
                                    position: absolute;
                                    right: 10px;
                                    top: 50px;
                                    transform: translateY(-50%);
                                    font-family: var(--font-family);
                                    font-weight: 500;
                                    font-size: 48px;
                                    color: red;
                                    // color: #033c42;
                                    z-index: 9999;
                                }
                            }
                        }
                    }

                    .case-up-swiper-button {
                        position: absolute;
                        top: -50px;
                        right: 10px;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        align-items: center;
                        gap: 20px;
                        z-index: 9999;

                        .case-swiper-button-next {
                            // background: #000;
                            width: 31px;
                            height: 31px;
                            //   margin-top: 8px;
                            // background-color: transparent;
                            border-radius: 50%;
                            padding: 8px;
background: var(--label-light-primary);
box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.12);

                        }

                        .case-swiper-button-prev {
                              transform: rotate(180deg);
                            // background-color: transparent;
                            width: 31px;
                            height: 31px;
                            //   margin-top: 8px;
                            // background-color: transparent;
                            border-radius: 50%;
                            padding: 8px;
background: var(--label-light-primary);
box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.12);

                        }

                        .case-swiper-button-next:active,
                        .case-swiper-button-prev:active {
                            path {
                                stroke: #000;
                            }

                        }
                    }
                }
            }
        }
    }
}