.design-why-section {
    margin: 42px 0 100px 0;

    .design-why-conteiner {
        .design-why-content {
            .design-why-title {
                h2 {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 116%;
                    color: var(--label-dark-black);
                    padding-bottom: 30px;
                }
            }

            .design-why-block {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 30px;
            }
        }
    }

}

.design-slide-section {
    background: #15222a;
    padding: 87px 0 92px 0;

    .design-slide-conteiner {
        .design-slide-content {
            .design-slide-up {
                display: grid;
                grid-template-columns: 4fr 1fr;
                margin-bottom: 30px;

                .design-up-title {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 116%;
                    color: var(--label-light-primary);
                }

                .design-up-button {
                    background: #06828e;
                    border-radius: 10px;
                    padding: 15px 47px 15px 47px;

                    font-family: var(--third-family);
                    font-weight: 600;
                    font-size: 14px;
                    text-align: center;
                    color: var(--label-light-primary);
                }
            }

            .design-slide-down {
                position: relative;

                .design-swiper-container {
                    overflow: hidden;

                    .design-slider-wrapper {
                        .design-slider-slide {}
                    }

                    .design-up-swiper-button {
                        position: absolute;
                        top: -18%;
                        right: 25%;

                        button {
                            background: none;
                        }
                    }
                }
            }
        }
    }
}

.design-produce-section {
    .design-produce-conteiner {
        .design-produce-content {
            .produce-up {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 116%;
                color: var(--label-dark-black);
                margin-bottom: 30px;
            }

            .produce-form {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                row-gap: 20px;
                column-gap: 29px;

                input,
                textarea {
                    // width: calc(33.33% - 10px);
                    // padding: 10px;
                    // margin: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                }


                .produce-form-name {
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 1;
                    padding: 12px 0 12px 15px;
                }

                .produce-form-phone {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 1;
                    padding: 12px 0 12px 15px;

                }

                .produce-form-email {
                    grid-column: 1 / span 2;
                    grid-row: 2 / span 1;
                    padding: 12px 0 12px 15px;

                }

                .produce-form-text {
                    grid-column: 3 / span 2;
                    grid-row: 1 / span 2;
                    padding: 12px 0 12px 15px;

                }
            }

            .produce-down {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 25px;


                .produce-down__file-upload {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-bottom: 2px solid var(--label-dark-black);
                    // padding-bottom: 5px;

                    label {
                        font-family: var(--second-family);
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 130%;
                        color: var(--label-dark-black);
                        margin-right: 10px;
                    }
                }

                .produce-down__block {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .produce-down__checkbox {
                        display: flex;
                        align-items: center;
                        // padding-left: 90px;

                        // flex-direction: column;
                        .produce-down__check-input {
                            border-radius: 100%;
                            width: 23px;
                            height: 23px;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            background: #06828e;
                            margin-right: 10px;

                            input[type="checkbox"] {
                                display: none;
                            }

                            span {
                                display: inline-block;
                                width: 24px;
                                /* Диаметр круга */
                                height: 24px;
                                /* Диаметр круга */
                                border: 2px solid #008080;
                                /* Цвет границы круга */
                                border-radius: 50%;
                                /* Делает элемент кругом */
                                background-color: white;
                                /* Цвет фона */
                                cursor: pointer;
                                /* Иконка "руки" при наведении */
                                position: relative;
                            }

                            input[type="checkbox"]:checked+span {
                                background-color: #008080;
                                /* Цвет фона при отметке */
                                border-color: #008080;
                                /* Цвет границы при отметке */
                            }

                            input[type="checkbox"]:checked+span::after {
                                content: "";
                                /* Генерируем псевдоэлемент галочки */
                                display: block;
                                width: 6px;
                                height: 12px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                                /* Галочка */
                                position: absolute;
                                top: 2px;
                                left: 7px;
                            }
                        }




                        .produce-down__check-label {
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 130%;
                            color: var(--label-dark-black);

                            .produce-down__personal-data {
                                text-decoration: underline;
                                text-decoration-skip-ink: none;
                            }
                        }


                    }

                    .produce-down__button {
                        border-radius: 10px;
                        padding: 8px 59px;
                        background: #06828e;
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 218%;
                        text-align: center;
                        color: var(--label-light-primary);
                        margin-left: 89px;
                    }
                }

            }

        }
    }
}

.design-question-section {
    background: #ededed;

    .design-question-conteiner {
        .design-question-content {
            .design-question__right {
                width: 100%;
                border-radius: .94rem;
                background: var(--label-light-primary);
                // background: linear-gradient(328deg, rgba(255, 255, 255, 0.13) 0%, rgba(153, 153, 153, 0.13) 100%);
                display: grid;
                align-items: center;
                text-align: left;
                text-align-last: left;



                .design-question__right-container {
                    padding: 20px;
                    padding-right: 30px;

                    .design-question-h3 {
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 116%;
                        color: var(--label-dark-black);
                        margin-bottom: 20px;
                    }

                    .design-question-faq-item {
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 1.06rem;
                        line-height: 218%;
                        color: var(--color-wite);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                        .toggle-icon {
                            font-size: 20px;
                        }

                        .design-question-faq-question {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 11fr 1fr;

                            justify-items: stretch;
                            justify-content: space-between;
                            background: none;
                            color: #fff;
                            padding: 10px 0;
                            border: none;
                            text-align: left;
                            cursor: pointer;
                            font-family: var(--font-family);
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 185%;
                            color: var(--label-dark-black);

                            .toggle-icon {
                                display: grid;
                                justify-items: end;
                                color: #06828e;
                            }



                        }

                        .design-question-faq-answer {
                            display: none;
                            padding: 15px;

                            // background-color: #2f3d4b;
                            // color: #b0bcc8;
                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 17px;
                                color: rgba(0, 0, 0, 0.6);

                            }
                        }


                    }
                }

            }
        }
    }
}

.design-free-section {
    .design-free-conteiner {
        .design-free-content {
            border-radius: 15px;
            background: linear-gradient(90deg, #15222a 0%, #818e9d 100%);

            .design-free-block {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                padding: 38px 30px;
                height: 130px;

                .design-free-title {
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 185%;
                    color: var(--label-light-primary);
                }

                .design-free-icon {
                    margin: 0 27px 0 13px;
                }

                .design-free-button {
                    border-radius: 10px;
                    padding: 15px 75px;
                    background: #06828e;
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 218%;
                    text-align: center;
                    color: var(--label-light-primary);
                    text-align: right;
                }

            }

        }
    }
}

.design-academy-section {
    .design-academy-conteiner {
        .design-academy-content {
            .design-academy__block {

                padding: 0 62px 100px 35px;


                &-header {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 116%;
                    color: var(--label-dark-black);
                    text-align: left;
                    margin-bottom: 30px;
                }

                &-content {
                    display: flex;
                    flex-wrap: wrap;


                    .design-academy__wrapper {

                        position: relative;
                        flex: 1 1 511px;


                        .video-thumbnail {

                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                        }

                        .play-button {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            z-index: 1;
                            background: none;
                        }
                    }

                    .design-academy__text-content {

                        flex: 1 1 300px;
                        display: flex;
                        flex-direction: column;

                        margin-left: 52px;

                        text-align: left;


                        .text-block {
                            display: flex;
                            flex-direction: row;

                            text-align: center;

                            svg {
                                margin-top: 5px;
                            }

                            span {
                                margin-left: 12px;
                                font-family: var(--font-family);
                                font-weight: 600;
                                font-size: 25px;

                                color: var(--label-dark-black);

                                text-align: start;

                                // text-align: left;
                            }

                        }

                        .design-academy-text-title {



                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 131%;
                            color: var(--label-dark-black);
                            margin: 10px 0 0 30px;

                            span {
                                font-family: var(--font-family);
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 185%;
                                color: #06828e;
                            }
                        }


                        .design-academy-text-title1 {

                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 131%;
                            color: var(--label-dark-black);
                            margin: 10px 0 50px 30px;
                        }

                        .design-academy__text-cta-button {
                            font-family: var(--second-family);
                            font-weight: 700;
                            font-size: 17px;
                            line-height: 218%;
                            text-align: center;
                            color: var(--label-light-primary);
                            border-radius: 10px;
                            background: #06828e;
                            padding: 17px 30px;
                        }

                    }
                }
            }
        }
    }
}

.design-event-section {
    background: #15222a;
    padding: 100px 0 100px 0;

    .design-event-conteiner {
        .design-event-content {
            .design-event__title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 116%;
                color: var(--label-light-primary);
                margin-bottom: 30px;
            }
            .design-event__block-content{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
            }
        }
    }
}
.design-team-section{
    background: #ededed;
    .design-team-conteiner{
        .design-team-content{
           .design-team-h2{
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 32px;
            line-height: 116%;
            color: var(--label-dark-black);
           }
           .design-team-p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 17px;
            line-height: 95%;
            color: var(--label-dark-black);
            margin: 20px 0 40px 0;
           }
           .design-team-block{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

            gap: 10px;
           }
        }
    }
}