.footer {


  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-fon-3);

  &__content {
    display: flex;
    flex-direction: column;

    &-up {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer__left {
        // display: flex;
        flex-direction: column;

        .footer__left-item-logo {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        picture {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .footer__left-item-tel {
          padding-left: 1.875rem;
          display: flex;
          flex-direction: column;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 1rem;
          line-height: 162%;
          color: var(--label-light-primary)
        }

        .footer__left-form {
          margin-top: 2.125rem;
          border-radius: 1.5625rem;
          width: 26.375rem;
          height: 17.6875rem;
          background: var(--color-fon-1);
          display: flex;
          flex-direction: column;
          justify-content: center;


          align-items: center;


          .footer__title-form {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 1.625rem;
            line-height: 142%;
            color: var(--label-light-primary);
          }

          .form-name,
          .form-tel,
          .form-commit {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.0625rem;
            line-height: 153%;
            color: var(--color-form);
            padding: .625rem;
          }

          input {
            background: transparent;
            border: none;
            border-bottom: .0625rem solid rgba(255, 255, 255, 0.4);;
            background-color: transparent;
            color: inherit;
            outline: none;

            width: 20.625rem;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 17px;
            line-height: 153%;
            color: rgba(255, 255, 255, 0.4);
          }

          .submit-button {
            margin-left: .625rem;
            border-radius: 6.25rem;
            width: 20.625rem;
            height: 2.8125rem;
            background: var(--color-fon-2);
            border: none;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: var(--label-light-primary);
          }
        }


        .footer__nav_right {
          display: flex;
          flex-direction: row;
          // width: 50%;
        }
      }

      .footer__nav-right {
        padding-left: 7.0625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // width: 80%;
        gap: 8.3125rem;

        .footer__title-list {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 18px;
          line-height: 144%;
          color: var(--label-light-primary);
          text-transform: none;
          margin-bottom: 15px;
        }

        .footer__nav-link {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 1rem;
          line-height: 162%;
          color: var(--color-wite);
          text-transform: none;
        }
      }
    }

    &-down {
      padding-top: 72px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer__content-left {
        display: flex;
        flex-direction: column;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14.08px;
        line-height: 186%;
        color: var(--color-wite);

        .footer__box-bottom {
          padding-top: .9375rem;
        }
      }

      .footer__content-right {
        display: flex;
        flex-direction: column;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 0.88rem;
        line-height: 186%;
        text-align: right;
        color: var(--color-wite);
        gap: .625rem;
      }

      .box-logo {
        margin-bottom: 2.5rem;
        justify-content: center;
      }
    }





    &__title-list {
      margin-bottom: 1.125rem;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
      color: var(--color-wite);
    }

    &__nav-item:not(:last-child) {
      margin-bottom: .9375rem;
    }

    &__nav-link {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: .875rem;
      text-transform: uppercase;
      color: var(--color-wite-05);
    }

    &__box-link {
      margin-bottom: 1.75rem;
      text-align: center;

      .footer__nav-link {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    &__box-request {
      p {
        margin-bottom: 1.25rem;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1rem;
        color: var(--color-wite-05);
      }

      .btn-form__form-btn {
        gap: clamp(.625rem, 5vw, 3.4375rem);
      }
    }

    &__box-network {
      margin-bottom: 1.5625rem;

      .list-link {
        justify-content: center;
        gap: clamp(.625rem, 5vw, 4.625rem);
      }
    }

    &__box-bottom {
      display: flex;
      gap: 2.5rem;
      justify-content: space-between;

      p {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: .875rem;
        color: var(--color-wite-05);
      }
    }

    & .link-logo {
      color: var(--color-wite);
    }

    &__link {
      white-space: nowrap;
      font-family: var(--font-family);
      font-weight: 300;
      font-size: .875rem;
      color: var(--color-wite);
      opacity: 0.5;
      transition: opacity 0.4s ease-in-out;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible,
      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }

  @media (max-width: 75rem) {
    .footer {
      &__box-request {
        margin-bottom: 1.5625rem;
      }
    }
  }

  @media (max-width: 40.625rem) {
    .footer {
      padding-bottom: 3.125rem;

      &__content .box-logo {
        justify-content: start;
      }

      &__box-link {
        text-align: start;
      }

      &__box-network .list-link {
        justify-content: start;
      }

      &__box-bottom {
        flex-direction: column;
      }
    }
  }
}