.header {
  // width: 100%;
  height: 4.75rem;
  // align-items: center;
  // text-align: center;
  padding-top: 1.25rem;
  padding-bottom: .625rem;
  border-bottom: .0625rem solid var(--color-sec-beck);

  .hidden {
    display: none;
  }

  .dropdown-section {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 5px;
    background: #F2F2F2;
    padding: 32px 0 57px 0;
    z-index: 9999;

    // height: 394px;
    .dropdown-conteiner {
      position: absolute;
      width: 101%;
      background: #F2F2F2;
      padding: 32px 44px 57px 52px;

      .dropdown-content {
        display: grid;

        grid-template-columns: 1fr 1fr;

        // padding: 32px 44px 57px 52px;
        .dropdown-left {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          column-gap: 110px;
          row-gap: 40px;
          // width: 500px;
          //         height: 500px;
          // .dropdown-link{
          //   width: 284px;
          // }
        }

        .dropdown-right {

          .dropdown__right-form {
            // padding: 40px 20px;

            // margin-top: 2.125rem;
            border-radius: 1.5625rem;
            width: 100%;
            height: 100%;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-content: space-between;
            // flex-wrap: wrap-reverse;

            align-items: center;
            // gap: 30px;


            .form-name,
            .form-tel,
            .form-email {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 153%;
              color: var(--color-form);
              padding: 20px;
              // gap:20px;
            }

            input {
              background: transparent;
              border: none;
              border-bottom: 1px solid rgba(0, 0, 0, 0.4);
              // border-bottom: .0625rem solid var(--color-wite);
              background-color: transparent;
              color: inherit;
              outline: none;

              width: 20.625rem;
            }

            .submit-button {
              // margin-left: .625rem;
              border-radius: 10px;
              width: 20.625rem;
              height: 2.8125rem;
              background: var(--color-fon-2);
              border: none;
              font-family: var(--font-family);
              font-weight: 400;
              font-size: .875rem;
              line-height: 150%;
              color: #fff;
            }
          }

        }
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  &__box-nav-btn {
    // max-width: 50rem;
    padding-left: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    // padding-left: 30px;
    // gap: 40px;
    .dropdown {
      position: relative;
      display: inline-block;
      // padding-left: 100px;

      .header__nav-btn {
        // position: relative;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        text-transform: uppercase;
        color: #000;
        border: none;
        // padding-left: 9.375rem;
        background: none;
        cursor: pointer;
      }

      // .dropdown-content {
      //   display: none;
      //   position: absolute;
      //   background-color: #f9f9f9;
      //   min-width: 10rem;
      //   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
      //   z-index: 1;
      // }
    }

  }

  &__nav {
    // max-width: 23rem;
    padding: 0 1.875rem 0 1.875rem;
    // display: flex;

    width: 100%;
  }

  &__nav-list {
    // max-width: 368px;
    // width: 100%;
    // padding-left: 1.875rem;

    display: flex;
    align-items: center;
    gap: 30px;
    // justify-content: end;

    .header__nav-item {
      .header__nav-link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        text-transform: uppercase;
        color: #000;
      }
    }
  }

  &__btn-group {
    // max-width: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .header__tel {
      padding: 0 1.875rem 0 .875rem;
      display: flex;
      flex-direction: column;
      gap: .3125rem;

      .tel {
        color: var(--color-text1);
        text-align: left;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: .875rem;
        line-height: 157%;
        text-transform: uppercase;
      }
    }

    .header__btn {
      border-radius: 6.25rem;
      width: 10.75rem;
      height: 2.75rem;
      background: var(--color-fon-2);
      font-family: var(--font-family);
      font-weight: 400;
      font-size: .875rem;
      line-height: 157%;
      color: var(--color-wite);
      border: none;
    }
  }

  &__btn-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    & a {
      color: var(--color-logo);
      transition: opacity 0.4s ease-in-out;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible,
      &:hover,
      &:active {
        opacity: 0.7;
      }
    }
  }

  &__btn-item {
    position: relative;
  }



  &__counter-box {
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    min-width: .9375rem;
    width: .9375rem;
    height: .9375rem;
    background-color: var(--color-text-header-h1);
    transition: opacity 0.4s ease-in-out;

    & span {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 10px;
      text-transform: uppercase;
      color: var(--color-wite);
    }
  }

  .header__btn-item--active {
    & .header__counter-box {
      opacity: 1;
    }
  }

  &__box-burger {
    display: none;
  }
}

@media (max-width: 1030px) {
  .header {
    position: relative;

    &__box-nav-btn {
      gap: 20px;
      justify-content: end;
    }

    &__nav {
      position: absolute;
      padding: 30px;
      max-width: 100%;
      width: 100%;
      height: calc(100vh - 115px);
      top: 100%;
      left: 0;
      z-index: 6;
      visibility: hidden;
      transform: translateY(-120%);
      background-color: var(--color-wite);
      transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

    &__nav--active {
      visibility: visible;
      transform: none;
    }

    &__box-burger {
      display: inline-block;
    }

    &__nav-list {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 30px;
    height: 27px;
    transition: opacity 0.4s ease-in-out;

    & span {
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: var(--color-logo);
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      opacity: 0.7;
    }
  }

  .burger--active {
    position: relative;

    & span {
      position: absolute;
      transform: rotate(45deg);
    }

    & span:last-child {
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: 650px) {
  .header {
    &__content {
      gap: 10px;
    }

    &__btn-list {
      gap: clamp(5px, 5vw, 20px);
    }

    &__btn-item:first-child {
      display: none;
    }

    &__btn-group {
      max-width: 180px;
    }
  }
}