.main {
  max-height: 100%;

  .cart-main {

    .cart-conteiner {

      .cart-content {
        display: grid;
        grid-template-columns: 55% 43%;
        gap: 20px;

        .cart-left {
          display: grid;
          grid-template-columns: 87% 80px;
          // gap: 10px;
          // max-width: 800px;
          // margin: 10px auto;
          text-align: left;

          .cart-left-block {
            position: relative;
            grid-column: 1;
            padding-right: 20px;

            .cart-left-block img {
              // width: 515px;
              // height: 590px;
              border-radius: 8px;
            }

            .new-badge {
              position: absolute;
              top: 10px;
              right: 10px;
              background-color: teal;
              color: white;
              padding: 5px 10px;
              font-size: 12px;
              border-radius: 4px;
            }
          }

          .cart-right-block {
            display: grid;
            grid-template-rows: repeat(5, auto);
            gap: 10px;


          }
        }

        .cart-right {
          .cart-right-block2 {
            display: flex;
            flex-direction: column;
            text-align: left;

            .cart-right-title {
              font-family: var(--font-family);
              font-weight: 600;
              font-size: 27px;
              line-height: 135%;
              color: #000;
            }

            .star-block {
              margin: 10px 0 15px 0;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;
              justify-content: space-around;

              .star-rating {
                color: #4CAF50;
              }

              .star-otziv {
                display: flex;
                align-items: center;
                text-align: center;

                span {
                  margin-left: 5px;

                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 100%;
                  text-decoration: underline;
                  text-decoration-skip-ink: none;
                  color: #797979;
                }
              }

              .article {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #797979;
              }

              .star-gar {

                display: flex;
                align-items: center;
                text-align: center;

                span {
                  margin-left: 5px;

                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 128%;
                  color: #797979;
                }
              }
            }

            .cart-right-description {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: #292929;
            }

            .cart-right-more-info {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 16px;
              line-height: 131%;
              text-decoration: underline;
              text-decoration-skip-ink: none;
              color: #292929;
              margin: 13px 0 33px 0;
            }


          }

          .cart-right-block3 {
            p {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              color: #000;
              text-align: left;
              margin-bottom: 15px;
            }

            .cart-right-block3-item {
              padding: 20px;

              border: 1px solid rgba(165, 165, 165, 0.3);
              border-radius: 5px;
              width: 100%;
              height: 320px;

              .cart-block-label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .label-select {
                  label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;

                    span {
                      font-family: var(--font-family);
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 175%;
                      color: #434343;
                    }
                  }

                  select {
                    margin-top: 10px;
                    border: 1px solid rgba(165, 165, 165, 0.3);
                    width: 100%;
                  }
                }


              }

              .cart-right-item {
                margin-top: 20px;

                p {
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 175%;
                  color: #959595;
                  margin: 0;
                  gap: 10px;
                }

                p:nth-child(2) {
                  margin: 5px 0;
                }
              }

              .cart-item-text {
                margin: 15px 0 19px 0;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                line-height: 130%;
                color: #797979;
              }

              .cart-block-item-price {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;


                .price-item {
                  .price {
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 130%;
                    color: #000;
                  }

                  .total-price {
                    margin-top: 13px;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 130%;
                    color: #242424;

                    span {
                      font-family: var(--font-family);
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 131%;
                      color: #06828e;
                    }
                  }

                }

                .price-click {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  margin-left: 44px;
                  border: 1px solid #d9d9d9;
                  border-radius: 3px;
                  width: 120px;
                  height: 39px;
                  background: #f1f1f1;


                  // padding: 10px 27px;

                  .counter-button1 {

                    margin-bottom: 6px;
                  }

                  .counter-button2 {

                    margin-top: 3px;
                  }

                  .counter-value {
                    margin: 27px 0;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 112%;
                    color: #6b7170;
                  }
                }
              }
            }
          }

          .cart-right-zak {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: right;
            justify-content: space-between;
            margin-top: 20px;

            .cart-right-zak-button {
              border-radius: 15px;
              // width: 236px;
              // height: 50px;
              padding: 15px 76px;
              background: #06828e;
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 18px;
              line-height: 117%;
              color: #fff;
            }

            p {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 18px;
              line-height: 117%;
              text-decoration: underline;
              text-decoration-skip-ink: none;
              color: #06828e;
            }
          }
        }
      }
    }
  }


  .description-section {
    margin-bottom: 91px;

    .description-conteiner {
      .description-content {
        display: grid;
        // grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 5fr 1fr;


        .description-left {
          .description-left-tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            gap: 10px;

            .tab {
              background-color: transparent;
              border: 1px solid #e0e0e0;
              border-radius: 7px;
              padding: 12px 20px;
              // width: 150px;
              // height: 42px;
              padding: 12px 20px 12px 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;

              // path {
              //   fill: #3feeff
              // }
              .tab-span {
                margin-left: 7px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 112%;
                color: #6b7170;
              }

            }

            .active {
              background: #f1f1f1;

              path {
                fill: #1d1d1d;
              }

              .tab-span {
                color: #1d1d1d;

              }
            }
          }

          .description-left-section {
            position: relative;
            text-align: left;
            border-radius: 13px;
            width: 924px;
            height: 257px;
            background: #f1f1f1;

            .description-left-list {
              padding: 35px 74px 40px 31px;

              li {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1d1d1d;

                span {
                  text-decoration-line: underline;
                  text-decoration-style: dotted;
                  /* Стиль подчеркивания: solid, dashed, dotted */
                  text-decoration-skip-ink: none;
                }
              }
            }

            .description-left-span {
              position: absolute;
              bottom: 10%;
              right: 3%;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;

              span {
                margin-left: 9px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                color: #1d1d1d;
              }
            }
          }
        }

        .description-right {
          text-align: left;


          .description-title {
            margin-top: 30px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 112%;
            color: #000;
            text-align: left;
          }

          .description-right-block {
            margin-top: 23px;

            .description-right-block-item {
              .description-right-block-item-title {
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;

                span {
                  margin-left: 5px;
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 130%;
                  color: #1d1d1d;
                  text-align: left;
                }
              }

              .description-right-block-item-link {
                margin-top: 10px;
                margin-left: 10px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: #06828e;
              }
            }

            .description-right-block-item:nth-child(2) {
              margin: 25px 0;
            }
          }
        }
      }
    }

  }

  .write-review-section {

    .write-review-conteiner {
      .write-review-content {
        position: relative;

        display: flex;
        flex-direction: column;

        gap: 20px;


        .write-review-up {
          min-width: 1140px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          .write-up-title {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 32px;
            line-height: 149%;
            color: #000;
            text-align: left;
            margin-right: 15px;

            sup {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: #1d1d1d;
            }
          }

          .write-up-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            background-color: transparent;
            border-bottom: 2px solid black;
            width: 195px;
            height: 50px;

            // margin: 0 10px 0 10px;
            span {
              font-family: var(--font-family);
              font-weight: 600;
              font-size: 18px;
              color: #101010;
              margin-right: 5px;
            }
          }

        }

        .write-review-down {
          // height: 400px;
          width: 1140px;
          z-index: 999;

          .write-swiper-container {

            // width: 100%;
            // height: 500px;
            // background-color: red;
            overflow: hidden;
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            // grid-template-rows: auto;
            // margin: 40px 0 40px 0;

            .write-slider {
              width: 1200px;
              // width: 453px;
              // height: 350px;
              margin: 30px 30px 30px 30px;


              .write-slide {
                // width: 90%;
                // height: 277px;
                border-radius: 15px;
                padding: 25px 20px 25px 25px;
                // height: 100%;
                width: 453px;
                box-shadow: 2px 2px 19px 0 rgba(55, 55, 55, 0.15);
                // background: #fff;
                background: #fff;
                // display: grid;
                // grid-template-rows: 30px 1fr 1fr;
                // display: flex;
                // flex-direction: column;

                .write-title {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  text-align: center;
                  justify-content: space-between;

                  .write-name {
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 18px;
                    color: #000;
                  }

                  .write-date {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    color: #adadad;
                    opacity: 0.8;
                  }
                }

                .write-text {
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 14px;
                  color: #000;
                  padding: 21px 0 31px 0;
                  text-align: left;
                  // width: 500px;

                }

                .write-img {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  gap: 15px;
                  // display: grid;
                  // grid-template-columns: repeat(4, 1fr);
                  // justify-content: space-around;

                  .write-img-item {
                    border-radius: 5px;
                    width: 115px;
                    height: 75px;
                    // width: 100%;
                    // height: auto;
                  }

                  .write-img-item:nth-child(4) {
                    filter: blur(2px);
                    position: relative;
                  }

                  .write-img-item:nth-child(4)::before {
                    content: '+2';
                    position: absolute;
                    right: 10px;
                    top: 50px;
                    transform: translateY(-50%);
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 48px;
                    color: red;
                    // color: #033c42;
                    z-index: 9999;
                  }
                }
              }
            }

            .write-up-swiper-button {
              position: absolute;
              top: 0;
              right: 10px;
              display: flex;
              flex-direction: row;
              text-align: center;
              align-items: center;
              gap: 20px;
              z-index: 9999;

              .write-swiper-button-next {
                margin-top: 8px;
                background-color: transparent;

              }

              .write-swiper-button-prev {
                transform: rotate(180deg);
                background-color: transparent;

              }

              .write-swiper-button-next:active,
              .write-swiper-button-prev:active {
                path {
                  stroke: #000;
                }

              }
            }
          }
        }
      }
    }
  }

  .choose-section {
    .choose-conteiner {
      .choose-content {
        display: grid;
        grid-template-rows: auto 1fr;

        .choose-title {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 149%;
          color: #000;
          text-align: left;
          margin-bottom: 30px;
        }

        .choose-block {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 30px;
        }
      }
    }
  }

  .option-section {
    .option-conteiner {
      position: relative;

      .option-content {
        .option-title1 {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 149%;
          color: #000;
          text-align: left;

        }

        .option-swiper {

          overflow: hidden;
          padding: 0 30px 0 30px;


          padding-top: 50px;
          padding-bottom: 100px;

          .option-wrapper {


            .option-slide {


              .option-card {


                .option-card__block1 {


                  .option-info {
                    margin-top: 10px;
                    text-align-last: left;

                    .option-title {
                      font-family: var(--font-family);
                      font-weight: 500;
                      font-size: 18px;
                      line-height: 117%;
                      color: #292929;
                    }

                    .option-price {
                      text-align-last: left;
                      font-family: var(--second-family);
                      font-weight: 700;
                      font-size: 18px;
                      line-height: 206%;
                      color: #06828e;

                      .old-price {
                        margin-left: 20px;
                        text-decoration: line-through;
                        font-family: var(--second-family);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 231%;
                        color: #7c7c7c;
                      }
                    }
                  }
                }

                .option-card__block2 {
                  position: absolute;
                  top: -10%;
                  left: -10%;
                  background: #15222a;
                  padding: 16px 16px 24px 16px;
                  opacity: 0;
                  pointer-events: none;
                  border-radius: 10px;
                  width: 200px;
                  height: 373px;


                  .block1-swiwer {
                    border-radius: 10px;

                    width: 200px;
                    height: 138px;

                    .block1-wrapper {

                      .block1-slider {
                        width: 100%;
                        object-fit: cover;


                      }
                    }

                    .swiper-scrollbar {

                      z-index: 1;
                      background: rgba(63, 238, 255, 0.1);

                      border-radius: 5px;
                    }

                    .swiper-scrollbar-drag {
                      background: #3feeff;

                      width: 5px;


                    }

                    .option-block-button-prev {
                      position: relative;
                      bottom: 62%;
                      right: 5px;
                      z-index: 10;
                    }

                    .option-block-button-next {
                      position: relative;
                      bottom: 85%;
                      left: 175px;
                      z-index: 10;
                    }

                  }

                  .option-title {
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 131%;
                    color: #fff;
                    text-align: left;
                    margin: 26px 0 15px 0;

                  }

                  .option-desc {
                    text-align: left;

                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    color: rgba(255, 255, 255, 0.8);

                  }

                  .option-price {
                    text-align: left;

                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 231%;
                    color: #73c6ce;
                    margin: 16px 0 20px 0;
                  }

                  .option-link {


                    border-radius: 10px;
                    // width: 356px;
                    width: 100%;
                    height: 40px;
                    background: #fff;
                    // font-family: var(--font-family);
                    margin: 13px 0 10px 0;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 162%;
                    color: #060606;
                    // align-items: center;
                    display: flex;
                    justify-content: center;
                    // text-align: center;
                    align-items: center;
                    flex-direction: row;

                    span {
                      margin-left: 6px;
                      margin-top: 7px;
                    }

                  }
                }
              }



              .option-card:hover .option-card__block1 {
                opacity: 0;
              }

              .option-card:hover .option-card__block2 {
                opacity: 1;
                pointer-events: auto;
              }

              #cart1::after {
                content: "NEW";
                position: relative;
                bottom: 245px;
                left: 130px;
                border-radius: 20px;
                width: 49px;
                height: 19px;
                background: #06828e;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 12px;
                color: #fff;
                text-align: center;
                padding: 5px 12px;
                z-index: 10;
              }

              #cart1:hover::after {
                content: "NEW";
                position: relative;
                bottom: 255px;
                left: 130px;
                border-radius: 20px;
                width: 57px;
                height: 26px;
                background: #06828e;
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 12px;
                color: #fff;
                text-align: center;
                padding: 5px 12px;
                z-index: 9999;
              }
            }
          }

          .option-button {
            position: absolute;
            top: 0;
            right: 10px;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            gap: 20px;
            z-index: 9999;

            .option-button-prev {
              transform: rotate(180deg);
              background-color: transparent;

            }

            .option-button-next {
              margin-top: 8px;
              background-color: transparent;

            }

            .option-button-prev:active,
            .option-button-next:active {
              path {
                stroke: #000;
              }

            }
          }


        }
      }
    }
  }



  .work-section {
    .work-conteiner {
      .work-content {
        .work-up {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 149%;
          color: #000;
          text-align: left;
          margin-bottom: 38px;
        }

        .work-down {
          display: grid;

          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          /* Три строки (автоматическая высота) */
          gap: 20px;

          /* Расстояние между элементами */
          .work-down-item {}

          .worl-down-item-hight {
            grid-row-start: 1;
            grid-column-start: 3;

            grid-row-end: 3;
            grid-column-end: 5;
            border-radius: 20px;
            background: #06828e;
            width: 565px;
            height: 365px;
            padding: 27px 43px 34px 30px;

            h3 {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 30px;
              line-height: 70%;
              color: #fff;
              text-align: left;
            }

            p {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 16px;
              line-height: 131%;
              color: #fff;
              text-align: left;
              margin: 20px 0;
            }

            .hight-img {
              position: relative;

              &-button {
                position: absolute;
                bottom: 5px;
                right: 5px;
                padding: 12px 32px;
                border-radius: 13px;
                // width: 203px;
                // height: 45px;
                background: #fff;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 131%;
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  .service-section {
    .service-conteiner {
      .service-content {

        .service-up {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 149%;
          color: #000;
          text-align: left;
          margin-bottom: 40px;


        }

        .service-down {

          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          // grid-template-rows: 1fr 1fr 1fr;
          row-gap: 20px;
          // align-items: center;
          text-align: center;
          justify-items: stretch;

          .service-down-item {
            // gap: 20px;
          }

          // max-width: 1200px;
          // margin: 0 auto;
          .service-down-center {
            // grid-column: 2;
            text-align: center;
            align-items: center;


            grid-row-start: 1;
            grid-column-start: 2;

            grid-row-end: 4;
            grid-column-end: 3;

            img {
              // width: 100%;
              // max-width: 240px;
            }
          }
        }
      }
    }
  }

  .rewiew-video-main {
    padding: 0;
    margin: 90px 0 107px 0;

    .rewiew-video-conteiner {

      .rewiew-video-content {

        .rewiew-video-overlay {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 116%;
          color: #000;
          text-align: left;
          margin-bottom: 37px;
        }

        .rewiew-block {



          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 0;
          gap: 20px;



          .rewiew-video__left-main-vide {
            position: relative;

            .rewiew-video-video {
              width: 775.04px;
              height: 430.08px;
              border-radius: 10px;

            }

            .video-overlay {
              position: absolute;
              top: 25%;
              left: 10%;
              text-align: left;

              h4 {
                // position: absolute;
                //  top: 30%;
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 116%;
                color: #fff;
              }

              p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16.96px;
                line-height: 153%;
                color: #fff;
                padding: 1.6875rem 0 5.5625rem 0;
              }

              a {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 19.04px;
                line-height: 195%;
                color: #000;
              }
            }
          }

          .rewiew-video__right-video-thumbnails {

            // display: flex;
            // flex-direction: row;
            .rewiew-video-trumbnails {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 15px;
              align-items: center;

              // row-gap: 0;
              // column-gap: 0;
              // gap: .9375rem;
              :nth-child(2) {
                padding: .9375rem 0 .75rem 0;
              }

              .thumbnail {
                gap: .9375rem;

                video {
                  border-radius: 15.04px;
                  width: 167.04px;
                  height: 95.04px;
                }

              }

              .thumbnail-info {
                // display: grid;
                // grid-template-rows: 1fr 1fr;
                // padding-top: .4375rem;
                // display: flex;
                // flex-direction: column;
                // justify-self: center;
                // align-items: start;
                text-align: left;
                // gap: .625rem;
                align-content: end;

                p {
                  font-family: var(--font-family);
                  font-weight: 700;
                  font-size: 14.08px;
                  line-height: 150%;
                  color: #000;
                }

                small {
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 14.08px;
                  line-height: 150%;
                  color: #000;

                }
              }

            }

          }
        }
      }
    }
  }

}