.main {
  max-height: 100%;

  .cart-main {

    .cart-conteiner {

      .cart-content {

        .cart-left {
          display: grid;
          grid-template-columns: 3fr 1fr;
          gap: 10px;
          max-width: 800px;
          margin: 20px auto;

          .cart-left-block {
            position: relative;
            grid-column: 1;

            .cart-left-block img {
              width: 100%;
              height: auto;
              border-radius: 8px;
            }

            .new-badge {
              position: absolute;
              top: 10px;
              right: 10px;
              background-color: teal;
              color: white;
              padding: 5px 10px;
              font-size: 12px;
              border-radius: 4px;
            }
          }

          .cart-right-block {
            display: grid;
            grid-template-rows: repeat(5, auto);
            gap: 10px;


          }
        }
      }
    }
  }

  .work-section {
    .work-conteiner {
      .work-content {
        .work-up {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 149%;
          color: #000;
          text-align: left;
          margin-bottom: 38px;
        }

        .work-down {
          display: grid;

          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          /* Три строки (автоматическая высота) */
          gap: 20px;

          /* Расстояние между элементами */
          .work-down-item {}

          .worl-down-item-hight {
            grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 5;
            border-radius: 20px;
            background: #06828e;
            width: 565px;
            height: 365px;
            padding: 27px 43px 34px 30px;

            h3 {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 30px;
              line-height: 70%;
              color: #fff;
              text-align: left;
            }

            p {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 16px;
              line-height: 131%;
              color: #fff;
              text-align: left;
              margin: 20px 0;
            }

            .hight-img {
              position: relative;

              &-button {
                position: absolute;
                bottom: 5px;
                right: 5px;
                padding: 12px 32px;
                border-radius: 13px;
                // width: 203px;
                // height: 45px;
                background: #fff;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 131%;
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  .service-section {
    .service-conteiner {
      .service-content {

        .service-up {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 149%;
          color: #000;
          text-align: left;
          margin-bottom: 40px;


        }

        .service-down {

          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          // grid-template-rows: 1fr 1fr 1fr;
          row-gap: 20px;
          // align-items: center;
          text-align: center;
          justify-items: stretch;

          .service-down-item {
            // gap: 20px;
          }

          // max-width: 1200px;
          // margin: 0 auto;
          .service-down-center {
            // grid-column: 2;
            text-align: center;
            align-items: center;


            grid-row-start: 1;
            grid-column-start: 2;

            grid-row-end: 4;
            grid-column-end: 3;

            img {
              // width: 100%;
              // max-width: 240px;
            }
          }
        }
      }
    }
  }

  .rewiew-video-main {
    padding: 0;
    margin: 90px 0 107px 0;

    .rewiew-video-conteiner {

      .rewiew-video-content {

        .rewiew-video-overlay {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 116%;
          color: #000;
          text-align: left;
          margin-bottom: 37px;
        }

        .rewiew-block {



          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 0;
          gap: 20px;



          .rewiew-video__left-main-vide {
            position: relative;

            .rewiew-video-video {
              width: 775.04px;
              height: 430.08px;
              border-radius: 10px;

            }

            .video-overlay {
              position: absolute;
              top: 25%;
              left: 10%;
              text-align: left;

              h4 {
                // position: absolute;
                //  top: 30%;
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 116%;
                color: #fff;
              }

              p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16.96px;
                line-height: 153%;
                color: #fff;
                padding: 1.6875rem 0 5.5625rem 0;
              }

              a {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 19.04px;
                line-height: 195%;
                color: #000;
              }
            }
          }

          .rewiew-video__right-video-thumbnails {

            // display: flex;
            // flex-direction: row;
            .rewiew-video-trumbnails {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 15px;
              align-items: center;

              // row-gap: 0;
              // column-gap: 0;
              // gap: .9375rem;
              :nth-child(2) {
                padding: .9375rem 0 .75rem 0;
              }

              .thumbnail {
                gap: .9375rem;

                video {
                  border-radius: 15.04px;
                  width: 167.04px;
                  height: 95.04px;
                }

              }

              .thumbnail-info {
                // display: grid;
                // grid-template-rows: 1fr 1fr;
                // padding-top: .4375rem;
                // display: flex;
                // flex-direction: column;
                // justify-self: center;
                // align-items: start;
                text-align: left;
                // gap: .625rem;
                align-content: end;

                p {
                  font-family: var(--font-family);
                  font-weight: 700;
                  font-size: 14.08px;
                  line-height: 150%;
                  color: #000;
                }

                small {
                  font-family: var(--font-family);
                  font-weight: 400;
                  font-size: 14.08px;
                  line-height: 150%;
                  color: #000;

                }
              }

            }

          }
        }
      }
    }
  }

}