.choose-cart{
    border-radius: 15px;
    // width: 262px;
    // height: 142px;
    box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.12);
background: #fff;
padding: 24px 23px 23px 20px;
    .choose-cart-block{
.choose__card-img{
    text-align: left;
};


    }
.choose__card-deck{
margin-top: 19px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    color: #000;
text-align: left;

}
}