.cart-people{
    .cart-people-img{
        border-radius: 10px;
    }
    .cart-people-info{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 19px;
        line-height: 126%;
        color: var(--label-light-primary);
        margin: 15px 0 13px 15px;
    }
    .cart-people-link{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 167%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: var(--label-light-primary);
        margin-left: 15px;
    }
}