.dropwond-card {

    .dropdown-card-block {
        width: 284px;


        .dropdown__card-img {
            display: flex;


            justify-content: start;
            align-items: center;


            .dropdown-img {
               
                margin-right: 10px;

            }

            .dropdown-title {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                line-height: 157%;
                text-transform: uppercase;
                color: #191919;
            }
        }

        .dropdown__card-deck {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #1d1d1d;
            padding-top: 10px;
        }
    }
}