.engineer-cart {
    // border-radius: 15px;
    // box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.12);
    // background: var(--label-light-primary);
    padding: 0 46px 0 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.2); /* Бордюр слева */
    // border-right: 1px solid black; /* Бордюр справа */

    .engineer__cart {
        &-title {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 30px;
            // line-height: 196%;
            color: #06828e;
        }

        &-subtitle {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: var(--label-dark-black);
            margin: 10px 0 15px 0;
        }

        &-text {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 17px;
            line-height: 124%;
            color: var(--label-dark-black);
            // margin-right: 54px;
        }
    }
}
