


        .engineer-products-catalog {
            display: grid;
            column-gap: 37px;
            row-gap: 51px;

            height: 100%;

            .engineer-card-info {
                margin-top: 10px;
                text-align-last: left;

                .engineer-card-title {
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 117%;
                    color: var(--label-light-primary);
                }

                .engineer-card-price {
                    text-align-last: left;
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 206%;
                    color: #06828e;

                    .engineer-old-price {
                        margin-left: 20px;
                        text-decoration: line-through;
                        font-family: var(--second-family);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 231%;
                        color: #7c7c7c;
                    }
                }
            }

            #cart-0 {
                // position: absolute;
                position: relative;
                grid-row-start: 1;
                grid-column-start: 1;

                grid-row-end: 2;
                grid-column-end: 2;


            }



            #cart-0::after {
                content: "NEW";
                position: relative;
                bottom: 350px;
                left: 275px;
                border-radius: 20px;
                width: 57px;
                height: 26px;
                background: #06828e;
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 12px;
                color: #fff;
                text-align: center;
                padding: 5px 12px;
                z-index: 10;
            }









            #cart-1 {
                position: relative;

                grid-row-start: 1;
                grid-column-start: 2;

                grid-row-end: 2;
                grid-column-end: 3;

                .badge {
                    position: relative;
                    bottom: 290px;
                    left: 87%;
                    border-radius: 20px;
                    width: 31px;
                    height: 29px;
                    background: #06828e;
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                    padding: 5px 9px;
                }


            }

            #cart-1::after{
                content: "%";
                position: relative;
                bottom: 350px;
                left: 295px;
                border-radius: 50px;
                width: 31px;
                height: 31px;
                background: #06828e;
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 12px;
                color: #fff;
                text-align: center;
                padding: 6px 9px;
            }

            #cart-2 {
                position: relative;


                grid-row-start: 1;
                grid-column-start: 3;

                grid-row-end: 2;
                grid-column-end: 4;


            }

            #cart-3 {
                position: relative;


                grid-row-start: 2;
                grid-column-start: 1;

                grid-row-end: 3;
                grid-column-end: 3;


            }



            #cart-4 {
                position: relative;

                grid-row-start: 2;
                grid-column-start: 3;

                grid-row-end: 3;
                grid-column-end: 4;


            }



        }
