.engineer-reclama-section {
    background: linear-gradient(180deg, #06828e 0%, #15222a 100%);

    .engineer-reclama-conteiner {
        .engineer-reclama-content {
            //             display: flex;
            //             flex-direction: row;
            gap: 100px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .engineer-reclama__left {
                &-title {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 32px;

                    color: var(--label-light-primary);

                }

                &-subtitle {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 17px;

                    color: var(--label-light-primary);
                    margin: 14px 0 40px 0;
                }

                .engineer-reclama__title {
                    display: flex;
                    flex-direction: row;

                    &-text {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 157%;
                        color: var(--label-light-primary);
                        margin-left: 9px;
                    }

                }
                .engineer-reclama__title:nth-child(2) {
                    margin: 20px 0 20px 0;
                }

                &-text {
                    margin-bottom: 72px;
                    text-align: left;



                    .text:nth-child(2) {
                        margin: 20px 0 20px 0;
                    }
                }

                &-button {

                    background: #06828e;
                    border-radius: 10px;
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 218%;
                    text-align: center;
                    color: var(--label-light-primary);
                    padding: 18px 46px;
                }
            }

            .engineer-reclama__right {
                width: 572px;
                height: 441px;
                position: relative;

                &-image {

                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
                &-play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // color: white;
                    // font-size: 40px;
                    // background-color: rgba(0, 0, 0, 0.5);
                    // border-radius: 50%;
                    // width: 60px;
                    // height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    z-index: 1;
                    background: none;
                }
            }
        }
    }
}