.instructions-card {


    .instructions-block {
        .instructions-video {
            border-radius: 10px;
            width: 353px;
            height: 259px;
        }

        .instructions-description {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #000;
            margin-top: 20px;
        }

    }
}