.design-question-section {
    background: #ededed;

    .design-question-conteiner {
        .design-question-content {
            .design-question__right {
                width: 100%;
                border-radius: .94rem;
                background: var(--label-light-primary);
                // background: linear-gradient(328deg, rgba(255, 255, 255, 0.13) 0%, rgba(153, 153, 153, 0.13) 100%);
                display: grid;
                align-items: center;
                text-align: left;
                text-align-last: left;



                .design-question__right-container {
                    padding: 20px;
                    padding-right: 30px;

                    .design-question-h3 {
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 116%;
                        color: var(--label-dark-black);
                        margin-bottom: 20px;
                    }

                    .design-question-faq-item {
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 1.06rem;
                        line-height: 218%;
                        color: var(--color-wite);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                        .toggle-icon {
                            font-size: 20px;
                        }

                        .design-question-faq-question {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 11fr 1fr;

                            justify-items: stretch;
                            justify-content: space-between;
                            background: none;
                            color: #fff;
                            padding: 10px 0;
                            border: none;
                            text-align: left;
                            cursor: pointer;
                            font-family: var(--font-family);
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 185%;
                            color: var(--label-dark-black);

                            .toggle-icon {
                                display: grid;
                                justify-items: end;
                                color: #06828e;
                            }



                        }

                        .design-question-faq-answer {
                            display: none;
                            padding: 15px;

                            // background-color: #2f3d4b;
                            // color: #b0bcc8;
                            p {
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 17px;
                                color: rgba(0, 0, 0, 0.6);

                            }
                        }


                    }
                }

            }
        }
    }
}
