<div class="drop-down-1">
  <div class="drop-down-1__info">
    <img src="@@urlImg" alt="img">
    <p id="drop-down-1__desc-@@n">@@name<span>(см)</span></p>
  </div>
  <button class="drop-down-1__btn btn-reset">
    <span>180</span>
    <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 1L3.99951 4L1 1" stroke="#828282" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  <ul class="drop-down-1__list list-reset">
    <li>
      <label>
        <input type="radio" name="@@name" value="@@value1">
        <span class="drop-down-1__input-castom"></span>
        <i>@@value1</i>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="@@name" value="@@value2">
        <span class="drop-down-1__input-castom"></span>
        <i>@@value2</i>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="@@name" value="@@value3">
        <span class="drop-down-1__input-castom"></span>
        <i>@@value3</i>
      </label>
    </li>
  </ul>
</div>