
<div class="engineer-products-catalog">

<div class="engineer-catalog-card" id="item-0">
    <div class="engineer-catalog-card__block1">
      <div class="engineer-card-img">
        <img src="img/catalog/cat1.png" alt="">
        <!-- <div class="badge">NEW</div> -->
      </div>
      <div class="engineer-card-info">
        <p class="engineer-card-title">Решетка название в 1 строчкуможет..</p>
        <p class="engineer-card-price">от 3000 p</p>
      </div>
    </div>


  </div>
  <div class="engineer-catalog-card" id="item-1">
    <div class="engineer-catalog-card__block1">

      <div class="engineer-card-img">
        <img src="img/catalog/cat1.png" alt="">
        <!-- <div class="badge">%</div> -->
      </div>
      <div class="engineer-card-info">
        <p class="engineer-card-title">Решетка название в 1 строчкуможет..</p>
        <p class="engineer-card-price">от 3 000 ₽ <span class="engineer-old-price">7 000 ₽</span></p>
      </div>
    </div>

  </div>
  <div class="engineer-catalog-card" id="item-2">
    <div class="engineer-catalog-card__block1">
    <div class="engineer-card-img">
      <img src="img/catalog/cat2.png" alt="">
      <!-- <div class="badge">%</div> -->
    </div>
    <div class="engineer-card-info">
      <p class="engineer-card-title">Решетка название в 1 строчкуможет..</p>
      <p class="engineer-card-price">от 3 000 ₽</p>

    </div>
    </div>

  </div>
  <div class="engineer-catalog-card" id="item-3">
    <div class="engineer-catalog-card__block1">

    <div class="engineer-card-img">
      <img src="img/catalog/cat4.png" alt="">
      <!-- <div class="badge">%</div> -->
    </div>
    <div class="engineer-card-info">
      <p class="engineer-card-title">Решетка название в 1 строчкуможет..</p>
      <p class="engineer-card-price">от 3 000 ₽</p>
    </div>
    </div>

  </div>
  <div class="engineer-catalog-card" id="item-4">
    <div class="engineer-catalog-card__block1">

    <div class="engineer-card-img">
      <img src="img/catalog/cat5.png" alt="">
      <!-- <div class="badge">%</div> -->
    </div>
    <div class="engineer-card-info">
      <p class="engineer-card-title">Решетка название в 1 строчкуможет..</p>
      <p class="engineer-card-price">от 3 000 ₽</p>
    </div>
    </div>

  </div>
</div>
