<section class="section engineer-reclama-section">
    <div class="container engineer-reclama-conteiner">
        <div class="content engineer-reclama-content">
<div class="engineer-reclama__left">
    <h3 class="engineer-reclama__left-title">Заголовок Заголовок Заголовок Заголовок </h3>
    <p class="engineer-reclama__left-subtitle">Подзаголовок Подзаголовок Подзаголовок Подзаголовок </p>
    <div class="engineer-reclama__left-text">

        <div class="engineer-reclama__title">
            <svg class="ok" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.5" cy="11.5" r="11.5" fill="#06828E"/>
                <path d="M6.5 10.5L10.5 14.5L16.5 8.5" stroke="white" stroke-linecap="round"/>
                </svg>

        <p class="engineer-reclama__title-text">текст с буллетами текст с буллетами текст с буллетами текст с буллетами текст с буллетами </p>
        </div>
        <div class="engineer-reclama__title">
            <svg class="ok" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.5" cy="11.5" r="11.5" fill="#06828E"/>
                <path d="M6.5 10.5L10.5 14.5L16.5 8.5" stroke="white" stroke-linecap="round"/>
                </svg>

        <p class="engineer-reclama__title-text">текст с буллетами текст с буллетами текст с буллетами текст с буллетами текст с буллетами </p>
        </div>
        <div class="engineer-reclama__title">
            <svg class="ok" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.5" cy="11.5" r="11.5" fill="#06828E"/>
                <path d="M6.5 10.5L10.5 14.5L16.5 8.5" stroke="white" stroke-linecap="round"/>
                </svg>

        <p class="engineer-reclama__title-text">текст с буллетами текст с буллетами текст с буллетами текст с буллетами текст с буллетами </p>
        </div>
    </div>
    <a class="engineer-reclama__left-button" href="#">Перейти в Telegram</a>
</div>

<div class="engineer-reclama__right">
    <!-- <video controls>

        <source src="video.mp4" type="video/mp4">

      </video> -->
      <img src="img/engineer/fon1.png" alt="Текст изображения" class="engineer-reclama__right-image">
      <button class="engineer-reclama__right-play-button"><svg width="100" height="62" viewBox="0 0 100 62" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="99.0413" height="61.4307" rx="14" fill="#06828E"/>
        <g filter="url(#filter0_d_13742_21396)">
        <path d="M41.3701 22.5523C41.3701 21.3348 41.3701 20.726 41.624 20.3904C41.8451 20.0981 42.1832 19.9172 42.5491 19.8953C42.9691 19.8703 43.4756 20.2079 44.4887 20.8833L57.6719 29.6721C58.509 30.2302 58.9275 30.5092 59.0734 30.8609C59.2009 31.1684 59.2009 31.5139 59.0734 31.8214C58.9275 32.1731 58.509 32.4521 57.6719 33.0101L44.4887 41.799C43.4756 42.4743 42.9691 42.812 42.5491 42.7869C42.1832 42.7651 41.8451 42.5842 41.624 42.2918C41.3701 41.9563 41.3701 41.3475 41.3701 40.13V22.5523Z" fill="white"/>
        </g>
        <defs>
        <filter id="filter0_d_13742_21396" x="30.8701" y="9.39404" width="38.7988" height="43.8943" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="5.25"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_13742_21396"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_13742_21396" result="shape"/>
        </filter>
        </defs>
        </svg>
        </button>
</div>
        </div>
    </div>
</section>