
<section class="section engineer-academy-section">
    <div class="container engineer-academy-conteiner">
        <div class="content engineer-academy-content">
            <div class="engineer-academy__left">
                <h2 class="engineer-academy__left-header">
                  SCHIBERG ACADEMY
                </h2>
                <div class="engineer-academy__left-content">
                  <div class="engineer-academy__wrapper">
                    <img src="img/news/fonVideo.png" alt="Превью видео" class="engineer-academy-video-thumbnail" />
                    <button class="engineer-academy__text-play-button"><svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="24.5" cy="24.5" r="24.5" fill="white" fill-opacity="0.2" />
                      <circle cx="25" cy="25" r="19" fill="white" fill-opacity="0.7" />
                      <path d="M24.18 17.3239L31.7903 22.8852C32.8836 23.6841 32.8836 25.3158 31.7903 26.1148L24.18 31.6761C22.8586 32.6418 21 31.698 21 30.0613L21 18.9386C21 17.302 22.8586 16.3582 24.18 17.3239Z" fill="#06828E" />
                    </svg></button>
                  </div>
                  <div class="engineer-academy__text-content">
                    <div class="engineer-academy-text-block">
                     <img src="img/engineer/ter.svg" alt="">
                      <p class="engineer-academy-text-title1">
                        Мы регулярно проводим вебинары
                        и оффлайн-мероприятия, где обучаем работать с вентиляцией, показываем наши вентиляционные решетки и комплектующие в деле!
                      </p>
                    </div>



                  </div>
                    <button class="engineer-academy__text-play-button">Подробнее</button>
                </div>
              </div>
              <div class="engineer-academy__center">
                <div class="engineer-academy__center-img">
<img class="center-img" src="img/engineer/image.png" alt="">

                </div>
                <p class="engineer-academy__center-date">26.10.2024</p>
                <h3 class="engineer-academy__center-title">Модель SCHIBERG Квадро</h3>
                <p class="engineer-academy__center-text">
                  Хотите современную вентиляцию в ванную?
Вентиляционная решетка SCHIBERG КВАДРО обеспечит вентиляцию и циркуляцию воздуха, особенно идеально модель подойдет для ванной комнаты, кухни или гардеробной комнаты...
                </p>

                <a class="engineer-academy__center-link" href="#"><span>Читать далее</span><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.93539 6.83887L15.0967 12.0002L9.93539 17.1614" stroke="black" stroke-width="1.54839" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a>
              </div>
              <div class="engineer-academy__right">
                <div class="engineer-academy__right-block1">
                  <p class="engineer-academy__center-date">26.10.2024</p>
                <h3 class="engineer-academy__center-title">Модель SCHIBERG Квадро</h3>
                <p class="engineer-academy__center-text">
                  Хотите современную вентиляцию в ванную?
Вентиляционная решетка SCHIBERG КВАДРО обеспечит вентиляцию и циркуляцию воздуха, особенно идеально модель подойдет для ванной комнаты, кухни или гардеробной комнаты...
                </p>

                <a class="engineer-academy__center-link" href="#"><span>Читать далее</span><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.93539 6.83887L15.0967 12.0002L9.93539 17.1614" stroke="black" stroke-width="1.54839" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a>
                </div>
              </div>
        </div>
    </div>
</section>