<div class="event-cat2">
    <div class="event-block">
        <div class="event__card-img">
            <img class="event-img" src="@@urlImg" alt="img">
        </div>
        <div class=" event__card-block">
            <p class=" event__card-block-desck">@@desck</p>
            <a href="#"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="white" />
                    <path d="M18.3333 13.3334L25 20L18.3333 26.6667" stroke="black" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
        <p class="event__card-title">@@title</p>
    </div>

</div>