<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>
  <link href="css/normalize.min.css" rel="stylesheet">
  <link href="css/swiper-bundle.min.css" rel="stylesheet">
  <link href="css/style.min.css" rel="stylesheet">

  <script src="js/swiper-bundle.min.js" defer></script>
  <script src="js/swiper-bundle.min.js.map" defer></script>
  <script src="js/fslightbox-min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script type="module" src="js/main-min.js"></script>
</head>