<div class="news-cart">
    <div class="news-cart__img">
        <img src="@@imgUrl" alt="foto">

    </div>
    <p class="news-cart__date">
        @@date
    </p>
    <p class="news-cart__title">
        @@title
    </p>
    <p class="news-cart__text">
        @@description    </p>
    <a href="@@link" class="news-cart__link"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19.5" fill="white" stroke="black"/>
        <path d="M18.3333 13.3333L25 20L18.3333 26.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>
            @@linkText
        </span></a>
</div>