<section class="section design-question-section">
    <div class="container design-question-conteiner">
      <div class="content design-question-content">
        <div class="design-question__right active " >
        <div class="design-question__right-container">
          <h3 class="design-question-h3">Ответы на вопросы</h3>
          <div class="design-question-faq-item">
            <button class="design-question-faq-question">
              Сроки изготовления
              <span class="toggle-icon">+</span>
            </button>
            <div class="design-question-faq-answer"

            >
              <p>Ответ</p>
            </div>
          </div>

          <div class="design-question-faq-item">
            <button class="design-question-faq-question">
              Гарантии
              <span class="toggle-icon">+</span>
            </button>
            <div class="design-question-faq-answer" style="display:none">
              <p>Ответ не предоставлен.</p>
            </div>
          </div>
          <div class="design-question-faq-item">
            <button class="design-question-faq-question">
              Условия сотрудничества
              <span class="toggle-icon">+</span>
            </button>
            <div class="design-question-faq-answer" style="display:none">
              <p>Ответ не предоставлен.</p>
            </div>
          </div>
          <div class="design-question-faq-item">
            <button class="design-question-faq-question">
              Поддержка
              <span class="toggle-icon">+</span>
            </button>
            <div class="design-question-faq-answer" style="display:none">
              <p>Ответ не предоставлен.</p>
            </div>
          </div>
          <div class="design-question-faq-item">
            <button class="design-question-faq-question">
              Помощь с проектом
              <span class="toggle-icon">+</span>
            </button>
            <div class="design-question-faq-answer" style="display:none">
              <p>Ответ не предоставлен.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section >