<section class="section main-quiz">
  <div class="main-quiz__conteiner container">
    <div class="main-quiz__content" id="quiz-1">
      <div class="main-quiz__left">
        <h2 class="main-quiz__title">
          SCHIBERG - дизайнерские вентиляционные решетки
        </h2>
        <div class="main-quiz__box-img">
          <p class="main-quiz__desc">
            Подберем вентиляционную решетку
          </p>
          <img class="main-quiz__img" src="img/main/quiz/books.png" alt="img">
          <div class="main-quiz__margin"></div>
          <div class="main-quiz__info-wrapp">
            <p class="main-quiz__desc">
              Бонусы после прохождения теста:
            </p>
            <ul class="main-quiz__list list-reset">
              <li>
                <a href="#">
                  <span class="link-img">
                    <img src="img/main/quiz/1.svg" alt="img">
                  </span>
                  <span class="link-text">
                    Бесплатное обучение по продукту
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="link-img">
                    <img src="img/main/quiz/2.svg" alt="img">
                  </span>
                  <span class="link-text">
                    Бесплатное обучение по продукту
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-quiz__right">
        <form class="main-quiz__all-form">
        <div class="main-quiz__box-questions">
          <div class="quiz-counter">
            <span>01</span><i>/</i><span>04</span>
          </div>
          <div class="quiz-question active">
            <p class="quiz-desc">Вы подбираете вентиляционное решение:</p>
            <fieldset class="quiz-fieldset">
              <label>
                <input type="radio" name="01" value="Для себя">
                <span class="quiz-castom-input"></span>
                Для себя
              </label>
              <label>
                <input type="radio" name="01" value="Под проект заказчика">
                <span class="quiz-castom-input"></span>
                Под проект заказчика
              </label>
            </fieldset>
          </div>
          <div class="quiz-question">
            <p class="quiz-desc">Где планируется установка?</p>
            <fieldset class="quiz-fieldset">
              <label>
                <input type="checkbox" name="Ванная комната">
                <span class="quiz-castom-input"></span>
                Ванная комната
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Ванная комната">
                <span class="quiz-castom-input"></span>
                Потолок
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Натяжной потолок">
                <span class="quiz-castom-input"></span>
                Натяжной потолок
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Стена">
                <span class="quiz-castom-input"></span>
                Стена
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Пол">
                <span class="quiz-castom-input"></span>
                Пол
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Мебель">
                <span class="quiz-castom-input"></span>
                Мебель
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Другое">
                <span class="quiz-castom-input"></span>
                Другое
              </label>
            </fieldset>
          </div>
          <div class="quiz-question">
            <p class="quiz-desc">Где планируется установка?</p>
            <fieldset class="quiz-fieldset">
              <label>
                <input type="checkbox" name="Ванная комната">
                <span class="quiz-castom-input"></span>
                Ванная комната
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Ванная комната">
                <span class="quiz-castom-input"></span>
                Потолок
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Натяжной потолок">
                <span class="quiz-castom-input"></span>
                Натяжной потолок
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Стена">
                <span class="quiz-castom-input"></span>
                Стена
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Пол">
                <span class="quiz-castom-input"></span>
                Пол
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Мебель">
                <span class="quiz-castom-input"></span>
                Мебель
                <span class="quiz-castom-img">
                  <img src="" alt="img">
                </span>
              </label>
              <label>
                <input type="checkbox" name="Другое">
                <span class="quiz-castom-input"></span>
                Другое
              </label>
            </fieldset>
          </div>
          <div class="quiz-box-btn">
            <button class="quiz-btn btn-reset">
              <span>ДАЛЕЕ</span>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 15L12.5 10L7.5 5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
        <div class="main-quiz__sending">
          <div class="main-quiz__sending-left">
            <p class="quiz-desc">Остался последний шаг!</p>
            <p class="main-quiz__sending-desc">Оставьте ваши контакты и инженер подберет вам 3 варианта установок под проект</p>
            <div class="main-quiz__input-group">
              <input class="main-quiz__sending-input" type="text" placeholder="Ваше имя">
              <input class="main-quiz__sending-input" type="email" placeholder="Email">
              <input class="main-quiz__sending-input" type="tel" placeholder="Телефон">
            </div>
            <div class="main-quiz__sending-btn-wrapp">
              <button class="main-quiz__sending-btn btn-reset">
                Получить подбор
              </button>
            </div>
          </div>
          <div class="main-quiz__sending-right">
            <img src="img/main/quiz/last-form-img.jpg" alt="img">
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>