<section class="section section4-main">
    <div class="section4-conteiner container">
      <div class="section4-content content">
        <div class="section4__left">
          <h3>Решим все вопросы с вентиляцией</h3>
          <p>Наведите курсор на элементы</p>
          <div class="section4-img">
            <img src="img/main/BL4/bl4.png" alt="">
          </div>
          <div class="block-flanec">
            <div class="left-flanec">
              <div class="block">
                <div class="line"></div>
                <div class="circle"></div>
                <p class="block-text">ФЛАНЕЦ ПРИСОЕДИНИТЕЛЬНЫЙ SCHIBERG</p>
                <p class="block-text">ПРЕДНАЗНАЧЕН ДЛЯ ГЕРМЕТИЧНОГО ПРИСОЕДИНЕНИЯ</p>
                <p class="block-text">ВОЗДУХОВОДА К АДАПТЕРАМ И КОЛЛЕКТОРАМ</p>
                <div class="block-img">
                  <img src="img/main/BL4/Flanec.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="block-kollector">
            <div class="left-kollector">
              <div class="block">
                <div class="line"></div>
                <div class="circle"></div>
                <p class="block-text">КОЛЛЕКТОР ВЕНТИЛЯЦИОННЫЙ<br> SCHIBERG</p>
                <p class="block-text">ПРЕДНАЗНАЧЕН ДЛЯ ИСПОЛЬЗОВАНИЯ В СИСТЕМАХ</p>
                <p class="block-text">ПРИНУДИТЕЛЬНОЙ ВЕНТИЛЯЦИИ</p>
                <div class="block-img">
                  <img src="img/main/BL4/Kollector.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="block-adapter">
            <div class="left-adapter">
              <div class="block">
                <div class="line"></div>
                <div class="circle"></div>
                <p class="block-text">АДАПТЕР ВЕНТИЛЯЦИОННОЙ<br> РЕШЁТКИ SCHIBERG</p>
                <p class="block-text">ПРЕДНАЗНАЧЕН ДЛЯ РАВНОМЕРНОГО РАСПРЕДЕЛЕНИЯ</p>
                <p class="block-text">ВОЗДУШНОГО ПОТОКА ПО ВСЕЙ ПЛОЩАДИ РЕШЁТКИ</p>
                <div class="block-img">
                  <img src="img/main/BL4/Adapter.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="block-zenit">
            <div class="left-zenit">
              <div class="block">
                <div class="line"></div>
                <div class="circle"></div>
                <p class="block-text">ZENIT HECO</p>
                <p class="block-text">ВЕНТИЛЯЦИОННАЯ ПРИТОЧНО-ВЫТЯЖНАЯ<br>УСТАНОВКА С РЕКУПЕРАЦИЕЙ ТЕПЛА</p>
                <!-- <p class="block-text"></p> -->
                <p class="block-text">И СОХРАНЕНИЕМ ВЛАГИ</p>

              </div>
            </div>
          </div>
          <div class="block-vozduh">
            <div class="left-vozduh">
              <div class="block">
                <div class="line"></div>
                <div class="circle"></div>
                <p class="block-text">ВОЗДУХОВОД SCHIBERG</p>
                <p class="block-text">ПРЕДНАЗНАЧЕН ДЛЯ РАЗВЕДЕНИЯ</p>
                <p class="block-text">ПОТОКОВ ВОЗДУХА ПО ПОМЕЩЕНИЯМ</p>
                <div class="block-img">
                  <img src="img/main/BL4/Vozduh.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section4__right">
          <div class="right-content">
            <div class="right__block1">
              <div class="right__block1-up">
                <p class="block1-up-p">Подбор вентиляционных установок</p>
                <div class="blocks"></div>
              </div>
              <div class="block1-down">
                <p>Поможем выбрать модель
                  и проинструктируют<br>
                  по установке</p>
              </div>
            </div>
            <div class="right__block1">
              <div class="right__block1-up">
                <p class="block1-up-p">Поможем с техническим<br> проектом</p>
                <div class="blocks"></div>
              </div>
              <div class="block1-down">
                <p>Поможет вам сделать проект<br> без дополнительных затрат<br>
                  с вашей стороны</p>
              </div>
            </div>
            <div class="right__block1">
              <div class="right__block1-up">
                <p class="block1-up-p">Подбор вентиляционных установок</p>
                <div class="blocks"></div>
              </div>
              <div class="block1-down">
                <p>Посчитают нагрузки и подберут<br> лучшее решение для вашего<br> качества жизни</p>
              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </section>